# Email Service (Resend)
RESEND_API_KEY=

# Sanity.io Configuration
NEXT_PUBLIC_SANITY_PROJECT_ID=
NEXT_PUBLIC_SANITY_DATASET=production
SANITY_REVALIDATE_SECRET_KEY=

# Media (Cloudinary)
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=

# Security (ReCAPTCHA)
NEXT_PUBLIC_RECAPTCHA_SITE_KEY=
RECAPTCHA_SECRET_KEY=
