@import "tailwindcss";

@plugin "@tailwindcss/typography";
@theme {
    
    --color-retro-beige: #f5e6ca;   
    --color-retro-orange: #d97706;  
    --color-retro-grey: #4b5563;    
    --color-retro-black: #1f2937;   
	--color-retro-accent: #d97706;

    
 --font-serif: var(--font-serif);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
}


@layer base{
	
	body{
		@apply bg-retro-beige text-retro-black font-sans leading-relaxed;
	}
	
	h1,h2,h3,h4{
		@apply font-serif font-semibold tracking-tight text-white ;
	}
	h4{
		@apply text-lg font-serif font-semibold tracking-tight;
	}
	
	p,span{
		@apply font-sans font-light text-lg;
	}
	button {
		@apply font-mono bg-retro-beige  tracking-widest transition-all duration-400 text-retro-black cursor-pointer;
	}
	button:hover {
    @apply text-retro-beige opacity-70 bg-gray-800; 
    
    @apply -translate-y-0.5;
}
a {
	@apply text-lg;
}
}
@theme {
  @keyframes fade-up {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
  }
  --animate-fade-up: fade-up 2s ease-out forwards;
}
.grecaptcha-badge { 
  bottom: 150px !important; 
 
}